In [3]:
%%writefile task3_select_new_table.hql
USE stackoverflow_;
WITH age_plain AS
(    
    SELECT age, IF(post_type_id==1, 1, 0) as cnt_q, IF(post_type_id==2, 1, 0) as cnt_a FROM
        (SELECT * FROM users WHERE age is not NULL) T
    JOIN 
        posts
    ON T.id==posts.owner_user_id
)
SELECT age, SUM(cnt_q), SUM(cnt_a) FROM age_plain GROUP BY age;

Overwriting task3_select_new_table.hql

In [4]:
! hive -f task3_select_new_table.hql

Logging initialized using configuration in jar:file:/usr/local/apache-hive-1.1.0-bin/lib/hive-common-1.1.0.jar!/hive-log4j.properties
OK
Time taken: 1.101 seconds
Query ID = jovyan_20190228184646_dab83e43-af16-4529-8ff2-b2c305597f0b
Total jobs = 1
Execution log at: /tmp/jovyan/jovyan_20190228184646_dab83e43-af16-4529-8ff2-b2c305597f0b.log
2019-02-28 06:46:18	Starting to launch local task to process map join;	maximum memory = 477626368
2019-02-28 06:46:20	Dump the side-table for tag: 0 with group count: 5951 into file: file:/tmp/jovyan/bdb39bb5-bddf-4740-832a-5a46e534dd6f/hive_2019-02-28_18-46-09_340_1789950139564533982-1/-local-10004/HashTable-Stage-2/MapJoin-mapfile00--.hashtable
2019-02-28 06:46:20	Uploaded 1 File to: file:/tmp/jovyan/bdb39bb5-bddf-4740-832a-5a46e534dd6f/hive_2019-02-28_18-46-09_340_1789950139564533982-1/-local-10004/HashTable-Stage-2/MapJoin-mapfile00--.hashtable (137665 bytes)
2019-02-28 06:46:20	End of local task; Time Taken: 2.094 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1551374820258_0005, Tracking URL = http://1ec436ddbd04:8088/proxy/application_1551374820258_0005/
Kill Command = /opt/hadoop/bin/hadoop job  -kill job_1551374820258_0005
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2019-02-28 18:46:36,251 Stage-2 map = 0%,  reduce = 0%
2019-02-28 18:46:46,150 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 8.75 sec
2019-02-28 18:46:55,938 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 12.92 sec
MapReduce Total cumulative CPU time: 12 seconds 920 msec
Ended Job = job_1551374820258_0005
MapReduce Jobs Launched:
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 12.92 sec   HDFS Read: 2261275 HDFS Write: 376 SUCCESS
Total MapReduce CPU Time Spent: 12 seconds 920 msec
OK
14	1	0
15	1	2
16	2	0
17	0	1
18	4	1
19	1	1
20	0	2
21	11	24
22	6	18
23	12	15
24	16	27
25	20	33
26	23	44
27	28	56
28	24	37
29	24	66
30	26	67
31	17	33
32	13	48
33	11	40
34	24	36
35	12	42
36	8	64
37	9	35
38	6	17
39	3	7
40	1	13
41	5	20
42	5	22
43	2	26
44	7	35
45	1	4
46	7	9
47	1	1
48	1	1
49	1	26
50	1	26
51	4	5
52	0	2
53	0	2
54	0	1
57	0	3
58	1	57
60	0	6
61	0	3
64	2	1
86	0	1
96	3	1
Time taken: 48.414 seconds, Fetched: 48 row(s)